.black{
  color: black !important;
}
.white{
  color: white !important;
}

.n_trans {
  background-color: rgba(255, 255, 255, .45);
  backdrop-filter: blur(50px);
}

@media screen and (prefers-color-scheme: dark) {
  .black{
    color: white !important;
  }

  .n_trans {
    background-color: rgba(0, 0, 0, .45);
    backdrop-filter: blur(50px);
  }
}

.trans {
  background-color: transparent;
}
.img{
  height:90%;
  float: left;
}
.lim_height {
   height: 100%;
   width: 100%;
   >a{
     height: 100%;
     width: 100%;
     >a{
       height: 100%;
       width: 100%;
     }
   }
}
.nav{
  >a{
    float: right;
    color: white !important;
    display: inline-block;
    @media (max-width: $layout-breakpoint-sm){
      display: none !important;
    }
  }
  >button{
    float:right;
    max-height: 100%;
    display:none !important;
    font-size: 2.7rem;
    background: rgba(0,0,0,0) !important;
    box-shadow: none !important;
    margin:0 !important;
    @media (max-width: $layout-breakpoint-sm){
      display: inline-block !important;
    }
  }
}

.dialog {
  background-color: var(--secondary-bg-color);
}