.black{
  color:black;
  text-align: left;
}
.footer{
  padding-top:2em;
  padding-bottom: 2em;
  background-color: var(--secondary-bg-color);
  border-top: 1px solid var(--primary-fill-color);
}

.list{
  list-style-type: none;
  >li{
    float: right;
    >a{
      >svg{
        width: 5rem;
        height: 5rem;
        margin: 0.75em;
        fill: var(--font-color);
      }

    }
  }
}
