@import "../ProjectPages.scss";


.iphone {
  @extend .center;
  height: 400px;
  // transform: rotate(-10deg);
}

.bg{
  padding-top: 7rem;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  // background-image: radial-gradient(circle at right bottom, rgb(255, 208, 138) 0px, rgb(255, 163, 118) 28%, rgb(210, 101, 120) 52%, rgb(104, 42, 132) 79%, rgb(36, 22, 104) 100%);

  h4 {
    text-align: center;
    opacity: 0.8;
  }
}

.body {
  padding: 0;
}