.legoworld {
  h3 {
    font-weight: 500;
  }
}

.bg{
  padding-top: 7rem;
  background-color: lightcoral;
  color: white;
  // background-image: radial-gradient(circle at right bottom, rgb(255, 208, 138) 0px, rgb(255, 163, 118) 28%, rgb(210, 101, 120) 52%, rgb(104, 42, 132) 79%, rgb(36, 22, 104) 100%);

  h4 {
    text-align: center;
    opacity: 0.8;
  }
}

.ul {
  list-style-position: inside;
}

.overview{
  margin-top: 2em;
  justify-content: center;
}

.iphone {
  height: 400px;
  justify-self: center;
  // transform: rotate(-10deg);
}

.serif {
  font-family: "Vollkorn", "serif";
}

.brick {
  height: 200px;
}

.content {
  p {
    @extend .serif;
  }

  h3 {
    @extend .mb-3;
  }

  h4 {
    @extend .my-2;
  }

  img {
    @extend .mt-3;
    height: 350px;
  }
}