.text{
  text-align: left;
}
.row{
  margin: 0 0 0 0;
  text-align: left;
}
.card{
  background-color: var(--primary-fill-color);

  margin: 0 0 2em 0;
  border-radius: 12px;
  transition: box-shadow .2s;

  &:hover{
    box-shadow: 0 0 10px rgba(33,33,33,.5);
  }
}

.cardMedia{
  background-color: var(--primary-fill-color);
}

@media screen and (prefers-color-scheme: dark) {
  .cardMedia{
    background-color: rgba(255,255,255,.9);
  }
}

.icon{
  >button{
    float:right;
  }
}
.title{
  padding: 1.4rem 1.4rem !important;
  h5 {
    font-weight: 600 !important;
  }
}

.categories_container{
  margin-left: 1.4rem;
}

.action_button {
  color: var(--font-color) !important;
  font-weight: 600;
}

.chip {
  background-color: var(--secondary-fill-color);
  margin-right: 0.5em;
  margin-top: 0.5em;
}
