.text{
  text-align: left;
}
.row{
  margin: 0 0 0 0;
  text-align: left;
}
.card{
  margin: 0 0 2em 0;
  border-radius: 12px;
  transition: box-shadow .3s;
  &:hover{
    box-shadow: 0 0 20px rgba(33,33,33,.5);
  }
}
.icon{
  >button{
    float:right;
  }
}
.title{
  padding: 1.4rem 1.4rem 0.2em !important;
  h5{
    font-weight: 600 !important;
  }
}

.categories_container{
  margin-left: 1.4rem;
}

.action_button {
  font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
  font-weight: 600;
}

.chip {
  // background-color: #24b47e;
  // color: white;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
