@import "../ProjectPages.scss";

.bg {
  padding-top: 7rem;
  color: white;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h4 {
    text-align: center;
    opacity: 0.8;
  }
}

.overview_image {
  height: 300px;
  justify-self: center;
}