h2{
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 450;
}
.div{
  overflow: hidden;
}
p, li {
  font-size: 1.25em;
  line-height: 1.25em;
}

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #000;
  --color-background: #fff;
  --secondary-bg-color: #dedede;
  --heading-color: #292922;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #fff;
    --color-background: #000;
    --secondary-bg-color: #212121;
    --primary-fill-color: #45484a;
    --heading-color: #818cab;
  }
}

:global {
  body {
    background-color: var(--color-background);
    color: var(--font-color);
  }

  h1, h2, h3, h4{
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif !important;
  }
  h1 {
    font-weight: 700;
  }
  h2 {
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
  }
  h4 {
    font-weight: 600;
  }
  *:not(h1, h2, h3, h4) {
    font-family: "IBM Plex Sans", "Helvetica", "Arial", sans-serif;
  }
}
