.bg{
  // background-color: #f6f9fc;
}

.img{
  border-radius: 500px;
  max-width:80%;
  margin-right: auto;
  margin-left: auto;
}
.p{
  font-size: 1.8em;
  line-height:1.3em;
  font-weight: lighter;
  text-align: left;
  @media screen and (max-width: $layout-breakpoint-lg){
    font-size: 1.5em;
  }
  @media screen and (max-width: $layout-breakpoint-xs) {
    font-size: 1.25em;
    line-height:1.25em;
    font-weight: normal;
  }
}
.cardOv{

  >div,img{
    padding: 2rem;
  }
}
