.bg{
  
}

.img{
  border-radius: 500px;
  max-width:80%;
  margin-right: auto;
  margin-left: auto;
}
.p{
  font-size: 1.8em;
  line-height:1.3em;
  font-weight: lighter;
  text-align: left;
}
.cardOv{
  >div,img{
    padding: 2rem;
  }
}
