.white{
  color:black;
}
.footer{

  padding-top:2em;
  padding-bottom: 2em;
  // background-color: #f6f9fc;

}
.list{
  list-style-type: none;
  >li{
    float: right;
    >a{
      >svg{
        width: 5rem;
        height: 5rem;
        margin: 1em;
        fill: black;
      }

    }
  }
}
