.b_link{
  opacity: 1 !important;
  >a{
    color: var(--font-color);
    font-size: 2rem;
    margin-right: .25rem;
    margin-left: .25rem;
  }
}

.w_link{
  opacity: 1 !important;
  >a{
    color:var(--font-color);
    font-size: 2rem;
    margin-right: .25rem;
    margin-left: .25rem;
  }
}
