.max_width{
  width: 100%;
  padding-top: 35px !important;
  padding-bottom:35px !important;
}
.col{
  text-align: left;
}
.anchor{
  display: block;
  position: relative;
  top: -6.4rem;
  visibility: hidden;
}
