.img{
  border-radius: 500px;
  width:300px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.p {
  font-size: 1.5em;
  text-align: left;

  @media screen and (max-width: $layout-breakpoint-xs) {
    font-size: 1.25em;
    line-height:1.25em;
    font-weight: normal;
  }
}
.cardOv{
  background-color: var(--primary-fill-color);
  border-radius: 12px;
  >div,img{
    padding: 2rem;
  }
}
